body {
  margin: 0;
  padding: 0;
  background: #4cd964;
  /* overflow: hidden; */
}

#auth-container {
  justify-content: center;
  display: grid;
  gap: 1.5rem;
  margin-top: 5rem;
}

#form-head {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: #fff;
}
#big-txt {
  /* background-color: black; */
  font-size: 32px;
  font-weight: bold;
}

#auth-form {
  display: grid;
  gap: 1.5rem;
  padding: 3rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

#loginForm {
  display: grid;
  gap: 1.5rem;
}

input {
  width: 25rem;
  height: 4rem;
  padding: 5px 0 0 25px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 8px;
  font-size: 14px;
}
input::placeholder {
  font-size: 14px;
  color: #838383;
}
.passVisibility {
  border: none;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  width: fit-content;
  width: 26.5rem;
  border-radius: 8px;
}

.passVisibility button {
  border: none;
  background: none;
}
small {
  display: block;
  text-align: left;
  font-size: 13px;
  color: #838383;
  text-align: end;
  margin-top: -8px;
  margin-bottom: 5px;
  cursor: pointer;
}
button[type="submit"] {
  background-color: green;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #4cd964;
}

.divider {
  text-align: center;
  margin: 0.2rem 0;
  font-size: 0.9rem;
  color: #888;
}

#googleLoginBtn {
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 26.5rem;
  padding: 10px;
}

#foot-txt {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 4.5rem;
}
#foot-txt a {
  color: #4cd964;
}
